In [12]:
import pandas as pd
data = pd.read_csv('AWCustomers.csv')

df = pd.DataFrame(data)
df

,CustomerID,Title,FirstName,MiddleName,LastName,Suffix,AddressLine1,AddressLine2,City,StateProvinceName,...,Education,Occupation,Gender,MaritalStatus,HomeOwnerFlag,NumberCarsOwned,NumberChildrenAtHome,TotalChildren,YearlyIncome,LastUpdated
0,21173,NaN,Chad,C,Yuan,NaN,7090 C. Mount Hood,NaN,Wollongong,New South Wales,...,Bachelors,Clerical,M,M,1,3,0,1,81916,2017-03-06
1,13249,NaN,Ryan,NaN,Perry,NaN,3651 Willow Lake Rd,NaN,Shawnee,British Columbia,...,Partial College,Clerical,M,M,1,2,1,2,81076,2017-03-06
2,29350,NaN,Julia,NaN,Thompson,NaN,1774 Tice Valley Blvd.,NaN,West Covina,California,...,Bachelors,Clerical,F,S,0,3,0,0,86387,2017-03-06
3,13503,NaN,Theodore,NaN,Gomez,NaN,2103 Baldwin Dr,NaN,Liverpool,England,...,Partial College,Skilled Manual,M,M,1,2,1,2,61481,2017-03-06
4,22803,NaN,Marshall,J,Shan,NaN,Am Gallberg 234,NaN,Werne,Nordrhein-Westfalen,...,Partial College,Skilled Manual,M,S,1,1,0,0,51804,2017-03-06
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,NaN,Grace,C,Bailey,NaN,6627 Camelback Ct.,NaN,Coronado,California,...,Graduate Degree,Skilled Manual,F,M,0,1,0,2,52953,2017-03-06
18357,11459,NaN,Tasha,NaN,Deng,NaN,9627 Kendall Rd,NaN,Port Macquarie,New South Wales,...,Bachelors,Skilled Manual,F,S,0,2,0,0,60992,2017-03-06
18358,12160,NaN,Jaclyn,NaN,Zhang,NaN,4364 Viera Avenue,NaN,Beaverton,Oregon,...,Partial College,Skilled Manual,F,S,0,2,0,0,51859,2017-03-06
18359,14353,NaN,Erin,I,Reed,NaN,3866 Mt. Everest Court,NaN,Vancouver,British Columbia,...,High School,Clerical,F,S,0,0,0,0,87177,2017-03-06
18360,16676,NaN,Amanda,NaN,Perry,NaN,7870 Orangewood Dr.,NaN,Grossmont,California,...,Graduate Degree,Professional,F,M,1,2,0,0,136856,2017-03-06

(b) Create a new Data Frame with the selected attributes only.

In [18]:
df_filtered= df.filter(['CustomerID','FirstName','LastName','AddressLine1','City','StateProvinceName','CountryRegionName','PostalCode','PhoneNumber','Occupation','Education','HomeOwnerFlag','NumberCarOwned','Gender','MaritalStatus','NumberChildrenAtHome','YearlyIncome'])
df_filtered

,CustomerID,FirstName,LastName,AddressLine1,City,StateProvinceName,CountryRegionName,PostalCode,PhoneNumber,Occupation,Education,HomeOwnerFlag,Gender,MaritalStatus,NumberChildrenAtHome,YearlyIncome
0,21173,Chad,Yuan,7090 C. Mount Hood,Wollongong,New South Wales,Australia,2500,1 (11) 500 555-0115,Clerical,Bachelors,1,M,M,0,81916
1,13249,Ryan,Perry,3651 Willow Lake Rd,Shawnee,British Columbia,Canada,V9B 2C3,787-555-0136,Clerical,Partial College,1,M,M,1,81076
2,29350,Julia,Thompson,1774 Tice Valley Blvd.,West Covina,California,United States,91791,120-555-0111,Clerical,Bachelors,0,F,S,0,86387
3,13503,Theodore,Gomez,2103 Baldwin Dr,Liverpool,England,United Kingdom,L4 4HB,1 (11) 500 555-0167,Skilled Manual,Partial College,1,M,M,1,61481
4,22803,Marshall,Shan,Am Gallberg 234,Werne,Nordrhein-Westfalen,Germany,59368,1 (11) 500 555-0113,Skilled Manual,Partial College,1,M,S,0,51804
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18356,25414,Grace,Bailey,6627 Camelback Ct.,Coronado,California,United States,92118,292-555-0130,Skilled Manual,Graduate Degree,0,F,M,0,52953
18357,11459,Tasha,Deng,9627 Kendall Rd,Port Macquarie,New South Wales,Australia,2444,1 (11) 500 555-0171,Skilled Manual,Bachelors,0,F,S,0,60992
18358,12160,Jaclyn,Zhang,4364 Viera Avenue,Beaverton,Oregon,United States,97005,819-555-0110,Skilled Manual,Partial College,0,F,S,0,51859
18359,14353,Erin,Reed,3866 Mt. Everest Court,Vancouver,British Columbia,Canada,V7L 4J4,791-555-0118,Clerical,High School,0,F,S,0,87177
18360,16676,Amanda,Perry,7870 Orangewood Dr.,Grossmont,California,United States,91941,553-555-0122,Professional,Graduate Degree,1,F,M,0,136856

(c) Determine a Data value type